.container{
    padding-top: 50px;
    height: 600px;
    width: 1000px;
}

.user-image{
    height: 100px;
    width: 100px;
}

.button{
    padding-top: 20px;
    float: right;
}

.logo {
    height: 50px;
    width: 50px;
}

b{
    padding-left: 10px;
}