
h3{
    padding-top: 20px;
    padding-left: 20px;
}

.card {
    height: 250px;
    width: 250px;
}

.column{
    padding-left: 20px;
}

.btn{
    float: right;
}

.logo {
    height: 50px;
    width: 50px;
}

b{
    padding-left: 10px;
}