<% include partials/header.ejs %>

<link rel="stylesheet" href="../../css/dish.css">

        <div class="container">
            <div class="card">
                <div class="row">
                    <div class="col-4">
                        <img class="card-img-top" src="./../../assets/avatar2.png">
                    </div>

                    <div class="col-4">
                        <div class="card-body">
                            <h1>Dish Name</h1>
                            <p class="card-text">Dish Description</p>
                        </div>
                    </div>    
                </div>
            </div>
            <div class='button'>
                <button class="btn btn-danger">
                    Final Report
                    <img src="../../assets/forward-24px.svg">
                </button>
            </div>
        </div>
